li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  background-image: url("./スライム.webp");
  background-size: cover;
  height: 90px;
  opacity: 1;
}

#header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
  color: white;
  opacity: 1;
}

#header-list li {
  float: left;
  padding: 30px 33px;
  color: white;
  opacity: 1;
  font-size: 20px;
}

#header-list li:hover {
  background-color: red;
  opacity: 0.7;
}

#contents {
  height: 1500px;
  background-image: url("./雪.jpg");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  opacity: 1;
}

#name-title {
  border-bottom: 2px solid rgb(148, 138, 138);
  font-size: 40px;
  padding-top: 100px;
  margin-bottom: 10px;
  text-align: center;
  opacity: 1;
}

#name {
  width: 600px;
  margin: 0 auto;
  opacity: 1;
}

#myname {
  font-size: 30px;
  text-align: center;
  opacity: 1;
}

#adana {
  margin: 20px;
  font-size: 30px;
  text-align: center;
  color: red;
  opacity: 1;
}

#age-title {
  border-bottom: 2px solid rgb(148, 138, 138);
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
  opacity: 1;
}

#age {
  width: 600px;
  margin: 0 auto;
  opacity: 1;
}

#myage {
  text-align: center;
  font-size: 30px;
  opacity: 1;
}

#uni-title {
  border-bottom: 2px solid rgb(148, 138, 138);
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
  opacity: 1;
}

#uni {
  width: 600px;
  margin: 0 auto;
  opacity: 1;
}

#myuni {
  text-align: center;
  font-size: 30px;
  opacity: 1;
}

#gakubu {
  text-align: center;
  font-size: 30px;
  margin: 20px;
  opacity: 1;
}

#senko {
  text-align: center;
  font-size: 30px;
  margin: 20px;
  opacity: 1;
}

#dai {
  width: 400px;
  height: 300px;
  margin: 100px;
  opacity: 1;
}
