li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  background-image: url("/スライム.webp");
  background-size: cover;
  height: 90px;
  opacity: 1;
}

#header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
  color: white;
  opacity: 1;
}

#header-list li {
  float: left;
  padding: 30px 33px;
  color: white;
  opacity: 1;
  font-size: 20px;
}

#header-list li:hover {
  background-color: red;
  opacity: 0.7;
}

#contents {
  height: 1700px;
  background-image: url("雪.jpg");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  opacity: 1;
}

#syumi-title {
  border-bottom: 2px solid rgb(148, 138, 138);
  font-size: 40px;
  padding-top: 100px;
  margin-bottom: 10px;
  text-align: center;
  opacity: 1;
}

#syumi {
  width: 600px;
  margin: 0 auto;
  opacity: 1;
}

#mysyumi {
  font-size: 35px;
  text-align: center;
  opacity: 1;
}

#RTA {
  margin: 20px;
  font-size: 30px;
  text-align: center;
}

#pro {
  font-size: 35px;
  text-align: center;
  margin-top: 40px;
}

#prog {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

#pp {
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
}

#ya {
  font-size: 35px;
  text-align: center;
  margin-top: 40px;
}

#yakyu {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

#sya {
  width: 400px;
  height: 300px;
  margin: 100px;
  opacity: 1;
}
